<h1>Attribute#list</h1>
<p>Find me in app/views/attribute/list.html.erb</p>



<%=h render "list_attribute_table" %>


<div id="modal_div"></div>
		
<script type="text/javascript">	
	$( document ).ready(function() {


});


</script>


