<h1>Attribute#put</h1>
<p>Find me in app/views/attribute/put.html.erb</p>



<%= render "put_form" %>

<button id="btn_add_new_attr" data-attr-number=0  > Add new Attribute</button>

<script>
$( document ).ready(function() {
    $('#add_item_form').submit(function()
	{
		var item_attribute_name_content = $("#item_attribute_name").val();
        //$("#item_attribute_value").attr("name","attributes["+ item_attribute_name_content +"]");
        //$("#item_attribute_name").remove();
	});
    $('#btn_add_new_attr').click(function()
      {
       var current_attr_number = $('#btn_add_new_attr').data("attrNumber");
       $('input[name="attributes['+current_attr_number+'][replace]"]').after("test");


        $('#btn_add_new_attr').data("attrNumber",current_attr_number+1);
        console.log(current_attr_number);

      });


});

</script>
